html {
  color: #333333;
  background: #ffffff;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cascadia Code', Consolas, Helvetica, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
  overflow-y: overlay;
}
html[transition] {
  transition: all 500ms ease;
}
body {
  padding: 0 14px;
  margin: 0 auto;
}
* {
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select,
textarea {
  font-family: inherit;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
pre,
code {
  font-family: inherit;
}
input:-webkit-autofill {
  /* 自动填充的文本颜色 */
  -webkit-text-fill-color: #333333 !important;
  /* -webkit-text-fill-color: var(--text-color) !important; */

  /* 方式1：使用内阴影覆盖自动填充的背景色 */
  /* box-shadow: 0 0 0 1000px #ffffff inset !important; */

  /* 方式2：通过延迟一个月，取消自动填充的背景色 */
  -webkit-transition: background-color 2592000s ease-in-out 0s;
  transition: background-color 2592000s ease-in-out 0s;
}

::selection {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
.hide {
  display: none !important;
}
.hover-underline {
  position: relative;
}
.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #333333;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.hover-underline:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
.header {
  width: 1000px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.header .logo {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  -webkit-user-drag: none;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.18);
  background-image: url(../img/logo.jpg);
  background-size: cover;
}
.header .menu {
  margin-right: 10px;
  text-align: right;
  user-select: none;
}
.header .menu a {
  display: inline-block;
  font-size: 16px;
  margin: 4px 9px;
  white-space: nowrap;
  user-select: auto;
}
.header .title {
  text-align: left;
}

.footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  color: #000000;
  padding: 0 4px;
  white-space: nowrap;
}
.footer-btn {
  position: fixed;
  z-index: 99;
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}
.footer-btn i {
  font-size: 32px;
  background-color: #ffffff;
}
.footer-btn.theme-toggler {
  right: 16px;
  bottom: 96px;
}
.footer-btn.to-top {
  right: 16px;
  bottom: -64px;
  transition: bottom 200ms ease-in-out;
}
.footer-btn.to-top.show {
  bottom: 16px;
}
.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  background-color: #000000;
}
.icon-loading {
  mask-image: url('../img/icon-loading.svg');
  -webkit-mask-image: url('../img/icon-loading.svg');
}
.icon-theme-dark {
  mask-image: url('../img/icon-theme-dark.svg');
  -webkit-mask-image: url('../img/icon-theme-dark.svg');
}
.icon-theme-light {
  mask-image: url('../img/icon-theme-light.svg');
  -webkit-mask-image: url('../img/icon-theme-light.svg');
}
.icon-arrow-top {
  mask-image: url('../img/icon-arrow-top.svg');
  -webkit-mask-image: url('../img/icon-arrow-top.svg');
}

@media screen and (max-width: 1000px) {
  .header {
    width: 800px;
  }
  .header .menu {
    text-align: left;
  }
  .header .menu a {
    margin: 2px 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 35px 0 20px 0;
    width: auto;
  }
  .header .menu {
    margin-right: -2px;
  }
}

/* 彩虹滚动条 */
::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #735925;
  background-image: -webkit-linear-gradient(45deg, #FF8899 20%, #FFDD88 40%, #77BBDD 50%, #7777AA 75%, #77DD77);
}
